{% extends 'layouts/base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<form method="post">

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
				<label for="email">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" autocomplete="email" required autofocus>
				<label for="password">Password</label>
				<input type="password" name="password" id="password" class="form-control" autocomplete="current-password" required>

				<label>
					<input type="checkbox" name="_remember_me" checked>
					Keep me logged in
				</label>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="text-center">
					<button class="m-3 btn btn-lg btn-dark" type="submit">
						Sign in
					</button>
				</div>
			</form>
		</div>
	</div>
</div>{% endblock %}
