{% extends 'layouts/base.html.twig' %}

{% block title %}
	Modify
	{{ song.title ~ " - " ~ song.artist}}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Modify
				{{ song.title ~ " - " ~ song.artist}}</h1>

			{{ form_start(songEditForm) }}
			{{ form_widget(songEditForm) }}
			<div class="d-grid gap-2">
				<input type="submit" value="Update music" class="btn btn-dark" formnovalidate>
			</div>
			{{ form_end(songEditForm) }}
		</div>
	</div>
{% endblock %}
