{% extends 'base.html.twig' %}

{% block title %}
	{{ song.title ~ " - " ~ song.artist}}
{% endblock %}

{% block body %}
	<article>
		<h1>{{ song.title ~ " - " ~ song.artist}}</h1>
		<p>{{ song.description }}</p>
		<p>{{ song.link }}</p>
	</article>

	<a href="{{ path('app_songs_edit', { id : song.id } )}}">Modifier</a>
	|
	<a href="{{ path('app_home') }}">Revenir à l'écran d'accueil</a>
{% endblock %}
