{% extends 'layouts/base.html.twig' %}

{% block title %}
	{{ song.title ~ " - " ~ song.artist}}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<article>
				<article class="song rounded shadow">
					<div class="mw-100 overflow-hidden rounded-top">
						<img class="w-100 " src="{{ (song.imageName ? vich_uploader_asset(song) : asset('images/placeholder.png')) | imagine_filter('square_thumbnail_medium') }}" alt="{{ song.title ~ " - " ~ song.artist }}">
					</div>
					<div class="p-3">
						<h2 class="h5 text-decoration-none text-light text-secondary">
							{{ song.title|length > 40 ? song.title|slice(0,40) ~ '...' : song.title  }}
						</h2>
						<h3 class="h6 text-decoration-none text-light text-secondary">
							{{ song.artist }}
						</h3>
						<p class="text-light">
							<small>Submitted by
								{{song.user.fullName}}
								<time datetime={{song.createdAt|date('Y-m-d H:m:s')}}>
									{{ song.createdAt|ago}}</time>
							</small>
						</p>
						<p class="text-light text-break pt-3">{{ song.description }}</p>
						{% if app.user == song.user %}
							<p>
								<a href="{{ song.link }}">{{ song.link }}</a>
							</p>
							<div class="pt-3">
								<a class="btn btn-light" href="{{ path('app_songs_edit', { id : song.id } )}}">Update</a>
								<a href="#" class="btn btn-light" onclick="event.preventDefault();confirm('Vous allez supprimer {{ song.title ~ " - " ~ song.artist}}') && document.getElementById('js-song-delete-form').submit();">Delete</a>
							</div>
							<form id="js-song-delete-form" action="{{ path('app_songs_delete', { id : song.id } )}}" style="display:none;">
								<input type="hidden" name="csrf_token" value="{{csrf_token('song_deletion_' ~ song.id)}}">
							</form>
						{% endif %}
					</div>
				</article>
			</div>
		</div>


	{% endblock %}
